/* Réinitialisation des marges du corps du document et définition de la couleur de fond */
body {
    margin: 0; /* Réinitialisation des marges */
    background-color: black; /* Couleur de fond noire */
}
nav {
    text-align: center; /* Centrer les éléments de la barre de navigation */
    margin-top: 50px; /* Ajouter une marge en haut de 50px */
    letter-spacing: 5px; /* Espacement entre les lettres de 5px */
    text-shadow: 2px 2px 2px beige; /* Ombre portée avec décalage horizontalement et verticalement et flou de 2px beige */
}
  
nav ul {
    list-style-type: none; /* Supprimer les puces de liste */
}
  
nav ul li {
    display: inline-block; /* Afficher les éléments de la liste sur une seule ligne */
    margin: 0 10px; /* Ajouter un espacement autour des éléments */
}
  
nav a {
    font-size: 1.5vw; /* Taille de police adaptative */
    color: purple; /* Couleur du texte */
    text-decoration: none; /* Supprimer la soulignement des liens */
}
  
nav a:hover {
    color: red; /* Changement de couleur au survol */
}
  
/* Style des titres (h1) */
h1 {
    color: purple; /* Couleur du texte violette */
    text-align: center; /* Alignement centré du texte */
    text-shadow: 3px 3px 3px beige; /* Ombre portée avec décalage de 3px horizontalement et verticalement et flou de 3px beige */
    text-transform: uppercase; /* Transformation du texte en majuscules */
    letter-spacing: 5px; /* Espacement entre les lettres de 5px */
    word-spacing: 5px; /* Espacement entre les mots de 5px */
    font-size: 1.5vw; /* Taille de police */
    margin: 100px; /* Marge de 100px en haut*/
}

/* Style d'un conteneur pour l'en-tête */
.fond-header {
    background-image: url(img/MANGAS.jpg); /* Image de fond */
    background-size: cover; /* Redimensionne l'image pour couvrir toute la zone */
    background-position: center; /* Positionnement de l'image centré */
    height: 400px; /* Hauteur de l'élément à 400px */
    display: flex; /* Affichage en mode flex */
}

/* Styles pour le h2 avant le container */
h2 {
    color: purple; /* Couleur du texte violette */
    letter-spacing: 6px; /* Espacement entre les lettres de 6px */
    text-align: center; /* Alignement centré du texte */
    font-size: 1.5vw; /* Taille de police */
    text-shadow: 2px 2px 2px beige; /* Ombre portée avec décalage de 2px horizontalement et verticalement et flou de 2px beige */
    text-transform: uppercase; /* Transformation du texte en majuscules */
    margin-bottom: 100px; /* Marge en bas de 100px */
    margin-top: 10px; /* Marge en haut de 10px (décalage vers le haut) */
}

/* Style du conteneur principal */
.container {
    max-width: 100%; /* Largeur maximale de 100% */
    margin: 0 auto; /* Centre le conteneur horizontalement */
    padding: 5px; /* Ajoute une marge de 5px sur les côtés */
}

/* Style de l'en-tête de héros */
.hero-header {
    height: 100vh; /* Hauteur de l'élément à 100% de la hauteur de la fenêtre */
    background-image: url(img/MANGAS.jpg); /* Image de fond */
    background-attachment: fixed; /* Fixe l'image de fond lors du défilement */
}

/* Style de la section des personnages */
.caracters-section {
    min-height: 100vh; /* Hauteur minimale de 100% de la hauteur de la fenêtre */
    display: flex; /* Affichage en mode flex */
    flex-direction: column; /* Direction de flexion en colonne */
    padding: 10px; /* Remplissage intérieur de 10px */
    margin: 100px 100px 200px; /* Marge de 100px en haut, 100 sur les côtés, 200px en bas */
}
  
/* Style des cartes */
.card {
    background: rgb(225, 225, 225); /* Fond de couleur gris clair */
    display: flex; /* Affichage en mode flex */
    border-radius: 30px; /* Bordures arrondies de 30px */
    margin: 80px 40px 50px; /* Marge de 80px en haut, 40 sur les côtés, 50px en bas */
    transition: transform 0.2s ease-in-out; /* Transition fluide lors de la transformation */
    overflow: hidden; /* Masque le contenu débordant */
}
  
.card:hover {
    transform: translate(-10px, -10px); /* Déplacement de la carte vers le haut et la gauche lors du survol */
}
  
/* Description de la carte */
.card-description {
    padding: 30px; /* Remplissage intérieur de 20px */
}
  
/* Image de la carte */
.card-img {
    flex-shrink: 0; /* Empêche la réduction de la taille de l'image */
    width: 50%; /* Largeur de 50% */
    height: auto; /* Hauteur automatique pour conserver les proportions */
    object-fit: fill; /* Redimensionne l'image pour couvrir toute la zone */
    display: flex; /* Affichage en mode flex */
    overflow: hidden; /* Masque le contenu débordant */
}   
  
.card-img img {
    width: 100%; /* Largeur de l'image à 100% */
    height: auto; /* Hauteur automatique pour conserver les proportions */
    object-fit: fill; /* Redimensionne l'image pour couvrir toute la zone */
}  

/* Style du titre de la description de la carte */
.card-description h3 {
    letter-spacing: 3px; /* Espacement entre les lettres de 3px */
    font-size: 1.5vw; /* Taille de police adaptative */
    color: purple; /* Couleur du texte violette */
    text-align: center; /* Alignement centré du texte */
    text-transform: uppercase; /* Transformation du texte en majuscules */
    text-shadow: 2px 2px 2px grey; /* Ombre portée avec décalage de 2px horizontalement et verticalement et flou de 2px de couleur grise */
    margin: 50px 50px; /* Marge de 50px en haut, 50px en bas */
}

/* Style du paragraphe de la description de la carte */
.card-description p {
    text-align: start; /* Alignement du texte à gauche */
    font-size: 1.5vw; /* Taille de police */
    line-height: 2; /* Hauteur de ligne (double interligne) */
    font-family: Arial, sans-serif; /* Police  */
    box-sizing: border-box; /* inclure les marges et les bordures dans la largeur*/
    width: 100%;
}

/* Style du pied de page */
footer {
    text-align: center; /* Alignement centré du texte */
}

  
/* Style de la liste non ordonnée dans le pied de page */
footer ul {
    padding: 0; /* Supprime les marges intérieures par défaut */
}

/* Style des éléments de liste dans le pied de page */
footer ul li {
    margin: 50px; /* Marge de 50px en haut */
}

/* Style des liens dans le pied de page */
footer a {
    font-size: 1.5vw; /* Taille de police de 2em */
    color: purple; 
}

/* Style des liens dans le pied de page lorsqu'ils sont survolés */
footer a:hover {
    color: red; /* Couleur du texte rouge lorsqu'il est survolé */
}
